<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="styleSheet" href="/static/css/group.css" type="text/css" media="screen">

<script src="webjars/webrtc-adapter/6.1.0/release/adapter.js"></script>
	<script src="/static/js/Screen-Capturing.js"></script>
<script src="/static/js/conferenceroom.js"></script>
<script src="/static/js/participant.js"></script>
<script src="./js/kurento-utils.js"></script>
	<script th:inline="javascript">
        var username = [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}]];
        initName(username);
	</script>
</head>
<body>
	<div id="container">
		<div id="wrapper">
			<div id="join" class="animate join">
				<h1>Join a Room</h1>
				<form onsubmit="register(); return false;" accept-charset="UTF-8">
					<p>
						<input type="text" name="room" value="" id="roomName"
							   placeholder="Room" required>
					</p>
					<p class="submit">
						<input type="submit" name="commit" value="Join!">
					</p>
				</form>
			</div>
			<div id="room" style="display: none;">
				<h2 id="room-header"></h2>
				<div id="participants"></div>
				<input type="button" id="button-leave" onmouseup="leaveRoom();"
					value="Leave room">
			</div>
		</div>
	</div>
</body>
</html>
