<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
	</script>
	<link href="/static/css/login.css" rel='stylesheet' type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>

<body>
<h1>Login</h1>
<div class="w3ls-login box">
	<img src="/static/img/logo.png" alt="logo_img" />
	<form action="" th:action="@{/login}" method="post" data-toggle="validator">
		<div class="agile-field-txt">
			<input type="text" name="username" placeholder="username" required="" />
		</div>
		<div class="agile-field-txt">
			<input type="password" name="password" placeholder="password" required="" value="admin" id="myInput" />
		</div>
		<div role="alert" th:if="${param.error}" class="alert bg-danger">
			<span class="help-block text-center">There was an error, please try again.</span>
		</div>
		<div class="w3ls-bot">
			<input type="submit" value="LOGIN">
		</div>
	</form>
</div>
<div class="copy-wthree">
	<p>Copyright &copy; 2018.Sendroid All rights reserved.</p>
</div>
</body>

</html>
